[Unit]
Description=Giraffe-Net Management API
After=network.target

[Service]
User=root
WorkingDirectory=/home/giraffe/repos/win98_personal_site/private/src/
ExecStart=/usr/bin/python3 api.py
Restart=always

[Install]
WantedBy=multi-user.target
